  #carousel {
    position: relative;
    border: 1px solid #CCC;
    border-radius: 15px;
    background: #eee;
    display: inline-block;
    width: 390px;
  }
  
  #carousel img {
    width: 130px;
    height: 130px;  
    display: block;
  }
  
  #carousel ul {
    height: 130px;
    width: 9999px;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: margin-left 250ms;
    font-size: 0;
  }
  
  #carousel li {
    display: inline-block;
  }

  .speed-button {
    height: 50px;
    width: 50px;
    text-align: center;
    background: rgb(206, 145, 145);
    border: 2px solid lightgray;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    bottom: -75px;
    left: calc(50% - 25px);
  }

  .line {
    position: absolute;
    width: 5px;
    height: 130px;
    background: red;
    top:10px;
    margin-left: 195px;
  }

  #content {
    overflow: hidden;
  }